[Desktop Entry]
Encoding=UTF-8
Name=Link to Installing TensorFlow for Jetson Platform - NVIDIA Docs
Type=Link
URL=https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html
Icon=text-html
