[Desktop Entry]
Encoding=UTF-8
Name=Link to TensorFlow For Jetson Platform - NVIDIA Docs
Type=Link
URL=https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform-release-notes/tf-jetson-rel.html
Icon=text-html
Name[en_US]=Key_Link to TensorFlow For Jetson Platform - NVIDIA Docs
